*{
	direction: rtl;

}

/* body{
	font-family: Montserrat;
} */
#sec-nav{
	padding:0 40px;

	position: relative;
	width: 100%;
	top: 0px;
	background-color: #030a55 !important;
	z-index: 3;
	/* box-shadow: 3px  1px 5px rgba(0,0,0,0.2) */
}
.navbar-brand  img{
	width: 220px;
	height: 130px
}
.nav-icons{
    /* margin-top: 5vh; */
    display: block;
    justify-content: center;
    text-align: center;

}
.nav-icons > ul{
    list-style: none;
    display: flex;
    /* justify-content: center; */
}
.nav-icons li{
    padding: 10px;
}
.nav-icons a{
    color: #ddd;
}

.nav-icons i:hover{
    color: #f71b26
}
.nav-left{
	display: flex;
}
.sec-social h4{
	/* margin-bottom: ; */
	/* margin-top: 10px; */
	padding-left: 20px;
	color: #ddd !important;
}
/* .sec-social{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
} */
.nav-img img{
	width: 130px;
    height: 80px;
}

@media (max-width: 320px) {
	.navbar-nav .nav-item .nav-link{
		padding: 0;
		text-align: center;
		margin: auto;
	}
    .navbar , #sec-nav{
        width: 375px;
    }

}
/* sec-one */
.sec-one{
	/*position: relative;*/
	/*height: 618px;*/
	/* height: 100%; */
	text-align: center;
	/* background-image: url("../blue_back.jpg");
	opacity: 0.5; */
	/* background-size: cover; */
	/* background-position: center; */
	z-index: 1;

	justify-content: center;
}
.sec-one .p-one{
	color: #0a851a;
	font-size: 40px;
    font-family: Montserrat;
    font-weight: bold;
    text-align: center;
    padding-top: 39px;
}

/* .sec-one h1{
    color: rgb(40, 21, 204);
    text-align: center;
	font-weight: 700;
	font-size: 58px;
	height: 160px;
    line-height:80px;
    max-width: 937px;
    margin: auto;
    font-family: Poppins
} */
.sec-one .sec-one-btn{
	display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 2;
	/*display: flex;
	justify-content: center;*/
}
.sec-one a{
    text-decoration: none;
	/* margin: auto; */
	padding: 50px 40px;
	font-size: 20px;
	color: rgb(37, 20, 83);
	font-weight: bold;
	border-radius: 25px;
}
.sec-one .sec-one-btn{
	padding-bottom: 40px;
	/* display: flex;
	justify-content: space-between; */

}
.sec-one #btn-btn1, .sec-one #btn-btn3{
	margin-left: 70px;
}

.sec-one-btn{
	position: relative;
}

.sec-one-btn h4{
	position: absolute;
	top: 50px;
	color: rgb(9, 3, 43);
	right: 33%;
	text-shadow: 2px 2px #ddd;

	bottom: 0;
}
#a-2 h4{
	position: absolute;
	right: 53%
}
.sec-one #btn-btn1 ,
.sec-one #btn-btn2 {
	background: none;
	border:1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.sec-one #btn-btn2{
	/* display: none; */
	/* padding: 50px 60px;
	margin-left: 70px;

	background-color: #210f8b;
	color: #fff;

	border:none; */
}
.sec-one #btn-btn4 , .sec-one #btn-btn3{
	padding: 50px 60px;
	/* margin-left: 5%; */
	background: none;
	border:1px solid;
	/* text-shadow: 2px 2px #ddd; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.sec-one #btn-btn1:hover ,
.sec-one #btn-btn2:hover {
	background: 1px solid ;
	background-color: #258131
}
.sec-one #btn-btn4:hover ,
.sec-one #btn-btn3:hover{

	background-color: #258131
}
@media (max-width: 320px) {
	.sec-one{
		background-image: none;
		/* background-color: #FAFAFA;
        max-width: 1920px; */
		margin: 0 auto;
	}
	.sec-one .p-one{
		color:  #737373;
		font-size: 20px
	}
  .sec-one .sec-one-btn{
	padding-bottom:0;
}
  .sec-one #btn-btn1,
  .sec-one #btn-btn2,
  .sec-one #btn-btn3,
  .sec-one #btn-btn4{
  	border-color: #0a851a;
  	color: #0a851a;
  	margin-right: 15px;
    padding: 40px 30px;
  	margin-top: 15px

  }
}

/*end sec-one*/

/*end navbar*/
/* page of choose gender */
.sec-one #btn-boy{
	padding: 2vh 5vh;
	background-color: #210f8b;
	margin-left: 70px;
	color: #fff;
	border:none;
}
.sec-one #btn-girl{
	background: none;
	border:1px solid;
	padding: 2vh 5vh;
	background-color: #210f8b;
	margin-left: 70px;
	color: #fff;
	border:none;
}
/* page of choose gender */
